<h3 class="dialog_title" mat-dialog-title i18n> Thêm mới quy trình </h3>
<form [formGroup]="addForm" (ngSubmit)="onConfirm()">
  <!-- Tiêu đề -->
  <mat-form-field appearance="outline" class="input-full-width">
    <mat-label i18n> Tên quy trình </mat-label>
    <input matInput formControlName="name" required>
    <mat-error *ngIf="name.invalid" i18n> Vui lòng nhập tên quy trình </mat-error>
  </mat-form-field>

  <!-- Chuyên mục phản ánh -->
  <mat-form-field appearance="outline" class="input-full-width">
    <mat-label i18n> Chuyên mục phản ánh </mat-label>
    <mat-select formControlName="tag" (selectionChange)="checkTags($event.value)" multiple>
      <mat-option *ngFor='let tag of listTags;' value="{{ tag.id }}"> {{ tag.name }} </mat-option>
    </mat-select>
  </mat-form-field>

  <!-- Chọn quy trình -->
  <div class="container">
    <div class="diagram-parent" *ngIf="show">
      <app-diagram [url]="diagramUrl"></app-diagram>
    </div>
    <div [ngClass]="show === true ? 'align-right' : ''">
      <span>
        <span i18n> Chọn quy trình </span>
        <mat-form-field appearance="outline" class="input-1-4-width mt-4">
          <mat-label i18n> Chọn quy trình </mat-label>
          <mat-select formControlName="process" (selectionChange)="getProcessDefinitionId($event.value)" required>
            <mat-option *ngFor='let pro of processList;' value="{{ pro.id }}"> {{ pro.name }} </mat-option>
          </mat-select>
          <mat-error *ngIf="processError.invalid" i18n> Vui lòng chọn quy trình </mat-error>
        </mat-form-field>
        <span i18n> hoặc </span>
        <a (click)="drawProcess()" i18n> Vẽ quy trình </a>
      </span>
    </div>
  </div>

  <mat-dialog-actions align="center">
    <button mat-button class="btn-cancel" (click)="onDismiss()" i18n> Đóng </button>
    <!-- <button mat-button class="btn-cancel" type="submit" [disabled]="addForm.invalid" (click)="onApplyClick()" i18n> Lưu và Áp dụng </button> -->
    <button mat-button class="btn-save" type="submit" [disabled]="addForm.invalid" (click)="onSaveClick()" i18n> Lưu lại </button>
  </mat-dialog-actions>
</form>

