<h3 class="dialog_title" mat-dialog-title>Tìm kiếm địa điểm</h3>
<div class="mt-1">
  <table>
    <tr>
      <strong id="title">Địa chỉ: </strong>
      <span id="placeName"></span>
    </tr>
    <tr>
      <strong id="title">Kinh độ: </strong>
      <span id="latitude"></span>
    </tr>
    <tr>
      <strong id="title">Vĩ độ: </strong>
      <span id="longitude"></span>
    </tr>
  </table>
</div>

<div id="map" class="map-container mt-1"></div>

<mat-dialog-actions align="center">
  <button mat-button class="btn-cancel" (click)="onDismiss()">Đóng</button>
  <button mat-button class="btn-save" (click)="search()" [mat-dialog-close]="true">
    Đồng ý
  </button>
</mat-dialog-actions>
