.fw-500 {
  font-weight: 500;
}
.mt-1 {
  margin-top: -1% !important;
}

.btn-cancel {
  border: 1px solid #333333;
}

.btn-cancel:focus {
  background-color: #ffffff;
  display: none;
}

.btn-save {
  color: #ffffff;
  background-color: #1976D2;
}
