<div class="main-container" [class.main-is-mobile]="mobileQuery.matches">
  <mat-sidenav-container class="main-sidenav-container">
    <mat-sidenav #snav [mode]="mobileQuery.matches ? 'over' : 'side'" [fixedInViewport]="mobileQuery.matches" [opened]="true">
      <div class="site_logo">
          <div class="logo_img"></div>
          <span class="site_name"> {{ title }} </span>
      </div>

      <!-- menu -->
      <app-admin-layout-menu></app-admin-layout-menu>
    </mat-sidenav>

    <mat-sidenav-content>
      <mat-toolbar class="main-toolbar">
        <mat-toolbar-row>
          <!-- Show/hide menu -->
          <button mat-icon-button (click)="snav.toggle()">
            <mat-icon> menu </mat-icon>
          </button>

          <!-- Your agency -->
          <h1 class="main-app-name"> {{ yourAgency }} </h1>
          <span class="toolbar-spacer"></span>

          <!-- Language -->
          <button mat-button [matMenuTriggerFor]="menu" class="mat-icon-arrow-down">
            <img src="./assets/icon/{{ langIcon }}">
            {{ langSelected }}
            <mat-icon> arrow_drop_down </mat-icon>
          </button>

          <mat-menu #menu="matMenu" xPosition="before">
            <button mat-button class="btn-language" value="VI" (click)="changeViLang()">
              <img src="./assets/icon/VI.png">
              Tiếng Việt (VI)
            </button>

            <button mat-button class="btn-language" value="EN" (click)="changeEngLang()">
              <img src="./assets/icon/EN.png">
              Tiếng Anh (EN)
            </button>
          </mat-menu>

          <!-- Account -->
          <a mat-button (click)="login()" *ngIf="!isLoggedIn"> Đăng nhập </a>
          <a mat-button id="account_btn" [matMenuTriggerFor]="userLog" *ngIf="isLoggedIn">
            <span id="account_name">
              <div id="avatar_sidebar" class="avatar" style="background-image: url('../assets/img/avt.jpg');">
                <img class="avatar" [src]="avatar"/>
              </div>
              {{ nickname }}
            </span>
          </a>
          <mat-menu #userLog="matMenu" xPosition="before">
            <button mat-menu-item (click)="logout()" *ngIf="isLoggedIn">
              <mat-icon> person_outline </mat-icon>
              Đăng xuất
            </button>
          </mat-menu>
        </mat-toolbar-row>
      </mat-toolbar>
      <div class="content">
        <router-outlet></router-outlet>
      </div>
    </mat-sidenav-content>
  </mat-sidenav-container>
</div>
