<div mat-dialog-title class="fw-500" i18n>
  Xóa quy trình
</div>

<div mat-dialog-content class="mt-1">
  <p [ngClass]="workflowStatus === 1 ? 'display' : 'display-none'">
    <b i18n> Quy trình đang được áp dụng </b>
  </p>
  <p>
    <span i18n> Bạn có chắc chắn muốn xoá thông báo </span>
    <b> {{ message }}</b>
    <span i18n> không? </span>
  </p>
</div>

<mat-dialog-actions align="center">
  <button mat-button class="btn-cancel" (click)="onDismiss()" i18n> Đóng </button>
  <button mat-button class="btn-save" (click)="onConfirm(id)" i18n> Đồng ý </button>
</mat-dialog-actions>
