<h3 mat-dialog-title class="dialog_title"> Cập nhật phản ánh </h3>
<form [formGroup]="updateForm" (submit)="onSubmit()">
  <form [formGroup]="update">
    <h4 class="fs-14 fw-500"> Thông tin phản ánh </h4>
    <!-- Tiêu đề -->
    <mat-form-field appearance="outline" class="full-input">
      <mat-label> Tiêu đề </mat-label>
      <input matInput formControlName="title">
    </mat-form-field>

    <!-- Thời gian xảy ra -->
    <mat-form-field appearance="outline" class="full-input">
      <mat-label> Thời gian xảy ra </mat-label>
      <input matInput [ngxMatDatetimePicker]="pickerOccurred" formControlName="takePlaceOn">
      <mat-datepicker-toggle matSuffix [for]="pickerOccurred"></mat-datepicker-toggle>
      <ngx-mat-datetime-picker #pickerOccurred [showSpinners]="showSpinners" [showSeconds]="showSeconds"
                                [stepHour]="stepHour" [stepMinute]="stepMinute" [stepSecond]="stepSecond"
                                [touchUi]="touchUi" [enableMeridian]="enableMeridian">
      </ngx-mat-datetime-picker>
    </mat-form-field>

    <!-- Địa điểm phản ánh -->
    <mat-form-field appearance="outline" class="place-input">
      <mat-label> Địa điểm phản ánh </mat-label>
      <input matInput formControlName="takePlaceAt">
    </mat-form-field>

    <button mat-button class="btn-choose">
      <mat-icon fontSet="material-icons-outlined" class="icon-map"> place </mat-icon>
      <span> Chọn </span>
    </button>

    <!-- Nội dung -->
    <mat-form-field appearance="outline" class="full-input">
      <mat-label> Nội dung </mat-label>
      <textarea matInput cdkTextareaAutosize formControlName="description"> </textarea>
    </mat-form-field>

    <!-- Công khai -->
    <mat-checkbox formControlName="isPublic" (change)="checkPublic($event)">
      Công khai
    </mat-checkbox>

    <h4 class="fs-14 fw-500 mt-2"> Thông tin người phản ánh </h4>
    <!-- Người gửi -->
    <mat-form-field appearance="outline" class="short-input">
      <mat-label> Người gửi </mat-label>
      <input matInput formControlName="name">
    </mat-form-field>

    <!-- SĐT -->
    <mat-form-field appearance="outline" class="short-input ml-2">
      <mat-label> Số điện thoại </mat-label>
      <input matInput formControlName="phone">
    </mat-form-field>

    <!-- CMND -->
    <mat-form-field appearance="outline" class="short-input ml-2">
      <mat-label> CMND </mat-label>
      <input matInput formControlName="identityId">
    </mat-form-field>

    <!-- Địa chỉ -->
    <mat-form-field appearance="outline" class="input-2-3">
      <mat-label> Địa chỉ </mat-label>
      <input matInput formControlName="address">
    </mat-form-field>

    <!-- Đối tượng -->
    <mat-form-field appearance="outline" class="short-input ml-2">
      <mat-label> Đối tượng </mat-label>
      <mat-select formControlName="type">
        <mat-option *ngFor='let list of listTypeReporter'
                    value="{{ list.id }}">
          {{ list.name }}
        </mat-option>
      </mat-select>
    </mat-form-field>

    <!-- Tỉnh thành -->
    <mat-form-field appearance="outline" class="short-input">
      <mat-label> Tỉnh thành </mat-label>
      <mat-select formControlName="province">
        <mat-option *ngFor='let pro of listProvince;'
                    value="{{ pro.id }}"
                    (click)="setValueDistrict()">
          {{ pro.name }}
        </mat-option>
      </mat-select>
    </mat-form-field>

    <!-- Quận huyện -->
    <mat-form-field appearance="outline" class="short-input ml-2">
      <mat-label> Quận huyện </mat-label>
      <mat-select formControlName="district">
        <mat-option *ngFor='let dis of listDistrict'
                    value="{{ dis.id }}"
                    (click)="setValueCommue()">
          {{ dis.name }}
        </mat-option>
      </mat-select>
    </mat-form-field>

    <!-- Phường xã -->
    <mat-form-field appearance="outline" class="short-input ml-2">
      <mat-label> Phường xã </mat-label>
      <mat-select formControlName="commue">
        <mat-option *ngFor='let com of listCommue' value="{{ com.id }}"> {{ com.name }} </mat-option>
      </mat-select>
    </mat-form-field>
  </form>

  <mat-dialog-actions align="center">
    <button mat-button class="btn-cancel" (click)="onDismiss()"> Hủy bỏ </button>
    <button mat-button class="btn-update"> Cập nhật </button>
  </mat-dialog-actions>
</form>
