<h3 class="dialog_title" mat-dialog-title>{{ title }}</h3>
<form>
  <p>
    Tiếp nhận xử lí phản ánh <strong>{{ petitionTitle }}</strong>
  </p>
  <div class="mb-1">
    <span>Chọn quy trình tiếp nhận</span>
    <mat-checkbox
      color="primary"
      class="ml-2"
      [formControl]="options"
      *ngFor="let option of optionList"
      [value]="option"
    >
      {{ option }}
    </mat-checkbox>
  </div>
  <table>
    <tr *ngFor="let process of processList">
      <button
        mat-button
        class="input-full-width btn-choose-process"
        [value]="process"
      >
        {{ process }}
        <mat-icon class="mat-icon" fontSet="material-icons-outlined">
          description
        </mat-icon>
      </button>
    </tr>
  </table>

  <!-- Nội dung -->
  <mat-form-field appearance="outline" class="input-full-width">
    <mat-label> Nội dung </mat-label>
    <label>
      <textarea matInput cdkTextareaAutosize></textarea>
    </label>
  </mat-form-field>
</form>

<mat-dialog-actions align="center">
  <button mat-button class="btn-cancel" (click)="onDismiss()">Đóng</button>
  <button mat-button class="btn-save" type="submit">
    Đồng ý
  </button>
</mat-dialog-actions>
