.btn-update {
  color: #ffffff;
  background-color: #1976D2;
}

.btn-close {
  background-color: rgb(221, 221, 221);
  border: 1px solid #141414;
  color: #141414;
}

.align-right {
  float: right;
}
