<h3 class="dialog_title" mat-dialog-title>Cập nhật {{ titleDialog }}</h3>

<form [formGroup]="updateForm" (submit)="onConfirm()">
  <h4 id="title">Thông tin người {{ titleDialog }}</h4>

  <!-- Người gửi -->
  <mat-form-field appearance="outline" class="input-1-3-width">
    <mat-label> Người gửi </mat-label>
    <input matInput required formControlName="reporterFullName" />
    <mat-error *ngIf="reporterFullName.invalid">
      {{ getErrorMessage(1) }}
    </mat-error>
  </mat-form-field>

  <!-- Số điện thoại -->
  <mat-form-field appearance="outline" class="input-1-3-width ml-1">
    <mat-label> Số điện thoại </mat-label>
    <input matInput required formControlName="reporterPhone" />
    <mat-error *ngIf="reporterPhone.invalid">
      {{ getErrorMessage(2) }}
    </mat-error>
  </mat-form-field>

  <!-- CMND -->
  <mat-form-field appearance="outline" class="input-1-3-width float-right">
    <mat-label> CMND </mat-label>
    <input matInput formControlName="reporterIdentityId" />
  </mat-form-field>

  <!-- Tỉnh thành -->
  <mat-form-field appearance="outline" class="input-1-3-width">
    <mat-label> Tỉnh thành </mat-label>
    <mat-select formControlName="reporterPlaceProvince">
      <mat-option
        *ngFor="let place of placeList"
        [value]="place.id"
        (click)="setValueTown()"
      >
        {{ place.name }}
      </mat-option>
    </mat-select>
  </mat-form-field>

  <!-- Quận huyện -->
  <mat-form-field appearance="outline" class="input-1-3-width ml-1">
    <mat-label> Quận huyện </mat-label>
    <mat-select formControlName="reporterPlaceTown">
      <mat-option
        *ngFor="let town of placeListTown"
        [value]="town.id"
        (click)="setValueVillage()"
      >
        {{ town.name }}
      </mat-option>
    </mat-select>
  </mat-form-field>

  <!-- Phường xã -->
  <mat-form-field appearance="outline" class="input-1-3-width float-right">
    <mat-label> Phường xã </mat-label>
    <mat-select [formControl]="village">
      <mat-option *ngFor="let village of placeListVillage" [value]="village.id">
        {{ village.name }}
      </mat-option>
    </mat-select>
  </mat-form-field>

  <!-- Địa chỉ người phản ánh -->
  <mat-form-field appearance="outline" class="input-2-3-width">
    <mat-label> Địa chỉ </mat-label>
    <input matInput formControlName="reporterFullAddress" />
  </mat-form-field>

  <!-- Loại đối tượng -->
  <mat-form-field appearance="outline" class="input-1-3-width float-right">
    <mat-label> Đối tượng </mat-label>
    <mat-select formControlName="reporterType">
      <mat-option
        *ngFor="let reporterType of reporterTypeList"
        [value]="reporterType.id"
      >
        {{ reporterType.name }}
      </mat-option>
    </mat-select>
  </mat-form-field>

  <h4 id="title">Thông tin phản ánh</h4>

  <!-- Tiêu đề -->
  <mat-form-field appearance="outline" class="input-full-width">
    <mat-label> Tiêu đề </mat-label>
    <input matInput required formControlName="title" />
    <mat-error *ngIf="title.invalid"> {{ getErrorMessage(3) }} </mat-error>
  </mat-form-field>

  <!-- Chuyên mục phản ánh -->
  <mat-form-field appearance="outline" class="input-1-3-width">
    <mat-label> Chuyên mục phản ánh </mat-label>
    <mat-select required formControlName="tag">
      <mat-option *ngFor="let tag of tagList" value="{{ tag.id }}">
        {{ tag.name }}
      </mat-option>
    </mat-select>
    <mat-error *ngIf="tag.invalid"> {{ getErrorMessage(4) }} </mat-error>
  </mat-form-field>

  <!-- Thời gian xảy ra -->
  <mat-form-field appearance="outline" class="input-1-3-width ml-1">
    <mat-label> Thời gian xảy ra </mat-label>
    <label>
      <input
        matInput
        required
        [ngxMatDatetimePicker]="pickerOccurred"
        formControlName="takePlaceOn"
      />
    </label>
    <mat-datepicker-toggle
      matSuffix
      [for]="pickerOccurred"
    ></mat-datepicker-toggle>
    <ngx-mat-datetime-picker
      #pickerOccurred
      [showSpinners]="showSpinners"
      [showSeconds]="showSeconds"
      [stepHour]="stepHour"
      [stepMinute]="stepMinute"
      [stepSecond]="stepSecond"
      [touchUi]="touchUi"
      [enableMeridian]="enableMeridian"
    >
    </ngx-mat-datetime-picker>
    <mat-error *ngIf="title.invalid">
      {{ getErrorMessage(5) }}
    </mat-error>
  </mat-form-field>

  <!-- Đơn vị phản ánh -->
  <mat-form-field appearance="outline" class="input-1-3-width float-right">
    <mat-label> Đơn vị phản ánh </mat-label>
    <mat-select formControlName="agency" required>
      <mat-option *ngFor="let agen of agencyList" value="{{ agen.id }}">
        {{ agen.name }}
      </mat-option>
      <mat-error *ngIf="agency.invalid"> {{ getErrorMessage(3) }}</mat-error>
    </mat-select>
  </mat-form-field>

  <!-- Tiêu đề -->
  <mat-form-field appearance="outline" class="input-full-width">
    <mat-label> Nội dung </mat-label>
    <label>
      <textarea
        matInput
        cdkTextareaAutosize
        required
        formControlName="description"
      ></textarea>
    </label>
    <mat-error *ngIf="description.invalid">
      {{ getErrorMessage(6) }}
    </mat-error>
  </mat-form-field>

  <!-- Địa điểm phản ánh -->
  <mat-form-field appearance="outline" class="place-input">
    <mat-label> Địa điểm phản ánh </mat-label>
    <label>
      <input
        matInput
        [value]="searchedPlace"
        required
        formControlName="takePlaceAt"
      />
    </label>
    <mat-error *ngIf="takePlaceAt.invalid">
      {{ getErrorMessage(7) }}
    </mat-error>
  </mat-form-field>

  <a mat-button class="btn-choose" (click)="openDialogMap()">
    <mat-icon fontSet="material-icons-outlined" class="icon-map">
      place
    </mat-icon>
    Chọn
  </a>

  <mat-checkbox color="primary" formControlName="isPublic">
    Công khai phản ánh
  </mat-checkbox>

  <h4 id="title">Tập tin đính kèm</h4>
  <div
    class="frame-upload-file well my-drop-zone card-container"
    ng2FileDrop
    [ngClass]="{ 'nv-file-over': hasBaseDropZoneOver }"
    (fileOver)="fileOverBase($event)"
    [uploader]="uploader"
    (onFileDrop)="onFileSelected($event)"
  >
    <table>
      <tr>
        <span class="hidden-file" aria-hidden="true">
          <input
            type="file"
            #fileInput
            ng2FileSelect
            [uploader]="uploader"
            (onFileSelected)="onFileSelected($event)"
            multiple
          />
        </span>
        <p (click)="fileInput.click()">
          <span class="span-cloud-upload">
            <mat-icon fontSet="material-icons-outlined" class="icon-cloud">
              cloud_upload
            </mat-icon>
            <button disabled class="btn-drop-drag">
              Kéo thả tập tin hoặc
            </button>
            <button class="btn-upload">Chọn từ thư viện</button>
            <button disabled class="btn-drop-drag">
              hoặc
            </button>
            <button class="btn-upload">Tải lên</button>
          </span>
        </p>
      </tr>
      <tr>
        <!-- Upload file -->
        <div class="card-container">
          <mat-card class="mat-card-file short">
            <img mat-card-image src="../../../assets/img/imgFile.png" alt="" />
            <mat-card-subtitle class="name-file">
              image.png
            </mat-card-subtitle>
            <div class="mat-icon-delete">
              <mat-icon fontSet="material-icons-outlined">
                delete
              </mat-icon>
            </div>
          </mat-card>

          <mat-card class="mat-card-file short">
            <img mat-card-image src="../../../assets/img/imgFile.png" alt="" />
            <mat-card-subtitle class="name-file">
              file_file_file.docx
            </mat-card-subtitle>
            <div class="mat-icon-delete">
              <mat-icon fontSet="material-icons-outlined">
                delete
              </mat-icon>
            </div>
          </mat-card>

          <mat-card class="mat-card-file short">
            <img mat-card-image src="../../../assets/img/imgFile.png" alt="" />
            <mat-card-subtitle class="name-file">
              ketqua_ketqua.pdf
            </mat-card-subtitle>
            <div class="mat-icon-delete">
              <mat-icon fontSet="material-icons-outlined">
                delete
              </mat-icon>
            </div>
          </mat-card>

          <div
            class="col-sm9 div-file-selected"
            *ngFor="let item of uploader.queue"
          >
            <mat-card class="mat-card-file short">
              <img
                mat-card-image
                src="../../../assets/img/imgFile.png"
                alt=""
              />
              <mat-card-subtitle class="name-file">
                {{ item?.file?.name }}
              </mat-card-subtitle>
              <div class="mat-icon-delete" (click)="item.remove()">
                <mat-icon fontSet="material-icons-outlined">
                  delete
                </mat-icon>
              </div>
            </mat-card>
          </div>
          <!-- show file upload -->
        </div>
      </tr>
    </table>

    <!-- Upload file -->
  </div>
  <!-- File đính kèm -->

  <mat-dialog-actions align="center">
    <a mat-button class="btn-cancel" (click)="onDismiss()">Đóng</a>
    <button mat-button class="btn-cancel" [mat-dialog-close]="true">
      Lưu và Áp dụng
    </button>
    <button
      mat-button
      class="btn-save"
      [mat-dialog-close]="true"
      type="submit"
      [disabled]="updateForm.invalid"
    >
      Lưu lại
    </button>
  </mat-dialog-actions>
</form>
