<h3 class="dialog_title" mat-dialog-title> Thêm mới thông báo </h3>
<form [formGroup]="addForm" (submit)="onConfirm()">
  <!--Tiêu đề-->
  <mat-form-field class="input-full-width" appearance="outline">
    <mat-label> Tiêu đề </mat-label>
    <input matInput placeholder="Ex. Bưu điện TP.Mỹ Tho" formControlName="title" required>
    <mat-error *ngIf="title.invalid"> {{ getErrorMessage(1) }}</mat-error>
  </mat-form-field>

  <!--Nội dung-->
  <mat-form-field class="input-full-width" appearance="outline">
    <mat-label> Nội dung </mat-label>
    <textarea matInput formControlName="content" required rows="10"></textarea>
    <mat-error *ngIf="content.invalid"> {{ getErrorMessage(2) }} </mat-error>
  </mat-form-field>

  <!-- Đơn vị -->
  <mat-form-field class="input-2-3-width" appearance="outline">
    <mat-label> Đơn vị </mat-label>
    <mat-select formControlName="agency" required>
      <mat-option *ngFor='let agen of agencyList;' value="{{agen.id}}"> {{ agen.name }}</mat-option>
    </mat-select>
    <mat-error *ngIf="agency.invalid"> {{ getErrorMessage(3) }}</mat-error>
  </mat-form-field>

  <!-- ngày kt -->
  <mat-form-field class="input-1-3-width ml-1" appearance="outline">
    <mat-label> Ngày hết hạn </mat-label>
    <input matInput [matDatepicker]="expiredDate" placeholder="Chọn ngày kết thúc" formControlName="expiredDate">
    <mat-datepicker-toggle matSuffix [for]="expiredDate"></mat-datepicker-toggle>
    <mat-datepicker #expiredDate></mat-datepicker>
  </mat-form-field>

  <!-- Chuyên mục -->
  <mat-form-field class="input-full-width" appearance="outline">
    <mat-label> Chuyên mục </mat-label>
    <mat-select formControlName="tag" multiple>
      <mat-option *ngFor='let tag of listTags;' value="{{tag.id}}"> {{ tag.name }} </mat-option>
    </mat-select>
  </mat-form-field>

  <!-- Người nhận -->
  <mat-form-field class="input-full-width" appearance="outline" floatLabel="always">
    <mat-label> Người nhận </mat-label>
    <mat-select formControlName="to" placeholder="Tất cả" (selectionChange)="onSelectTo($event.value)" multiple>
      <div>
        <div>
          <input matInput #searchUser (input)="onInput($event)" (keydown)="$event.stopPropagation()"
            placeholder="Nhập từ khóa" class="search-user">
          <button mat-icon-button class="btn-clear" *ngIf="searchUser.value !== ''"
            (click)="searchUser.value = ''; resetform()">
            <mat-icon> close </mat-icon>
          </button>
        </div>
      </div>
      <mat-option *ngFor='let usr of userSearch' value="{{ usr.id }}"> {{ usr.fullname }} </mat-option>
      <mat-option *ngFor='let usrs of userList' value="{{ usrs.id }}"> {{ usrs.fullname }} </mat-option>
    </mat-select>
  </mat-form-field>

  <!-- Slide toggle -->
  <mat-slide-toggle formControlName="publish" color="primary"> Gửi đi </mat-slide-toggle>

  <!-- Hình ảnh -->
  <h4 id="title"> Hình ảnh </h4>
  <div [ngClass]="{'img_uploaded': uploaded == true}">
    <div class="drag_upload_btn" [ngClass]="{'no_boder': uploaded == true}">
      <button mat-button [ngClass]="{'btn_uploaded': uploaded == true, 'clear_img_queue': uploaded == false}">
        <mat-icon> cloud_upload </mat-icon>
        Kéo thả tệp tin hoặc <a href=""> Chọn từ thư viện </a> hoặc <a href=""> Tải lên </a>
      </button>
      <input id="img_upload" name="img_upload[]" type='file' (change)="onSelectFile($event)" multiple
        accept=".JPG, .PNG, .JPEG" value="{{blankVal}}">
    </div>
    <div class="image_drag_upload_preview">
      <div class="list_uploaded" *ngFor='let url of urls; let i = index;'>
        <div class="img_items  mat-elevation-z4" [ngStyle]="{'background-image': 'url('+ urls[i] +')'}">
        </div>
        <div class="img_control">
          <span class="file_name" matTooltip="{{fileNamesFull[i]}}"
            [matTooltipPosition]="'right'">{{fileNames[i]}}</span>
          <a mat-icon-button class="delete_img" align="end">
            <mat-icon (click)="removeItem(i)">delete_outline</mat-icon>
          </a>
        </div>
      </div>
      <mat-progress-bar class="progress" mode="determinate" *ngIf="progress > 0" [value]="progress"></mat-progress-bar>
    </div>
  </div>
  <div mat-dialog-actions class="mt-1" align="center">
    <a mat-raised-button (click)="onDismiss()" class="btn-cancel"> Huỷ bỏ </a>
    <a class="ml-1 mr-1 btn-cancel" mat-raised-button (click)="addForm.reset(); resetForm();"> Làm mới </a>
    <button mat-raised-button class="primary-blue-btn" type="submit" [disabled]="addForm.invalid"> Lưu lại </button>
  </div>
</form>