.title-bar {
  font-weight: bold;
  background-color: #F5F8FF;
}

.btn-add {
  margin-left: 2em;
  background-color: #388E3C;
  color: #fff;
  height: 36px;
}

.name-page {
  margin-left: -0.5em;
  font-weight: 500;
}

#title {
  margin: 0;
  align-self: center;
  font-weight: 500;
}

.main-wrapper {
  background-color: #fff;
  width: 98%;
  padding: 1em;
}

.notification_content {
  display: flex;
}

.left_content {
  width: 70%;
  padding-right: 4em;
}

.right_content {
  width: 30%;
}

.notification_detail, .notification_tags {
  display: flex;
  margin-top: .5em;
}

.notification_detail span:nth-child(1), .notification_tags span:nth-child(1) {
  width: 10em;
}

.notification_tags .listtags {
  width: 80%;
  display: flex;
  flex-wrap: wrap;
}

.notification_tags .listtags div {
  margin-bottom: .5em;
}

.status_sent {
  color: #fff;
  padding: .2em .5em .2em .5em;
  font-size: 14px;
  border-radius: 5px;
  background-color: #388E3C;
  margin-top: -0.2em;
  font-weight: 500;
}

.status_unsent {
  color: #fff;
  padding: .2em .5em .2em .5em;
  background-color: #A6A6A6;
  font-size: 14px;
  border-radius: 5px;
  margin-top: -0.2em;
  font-weight: 500;
}

.catalogy {
  color: #fff;
  padding: .2em .5em .2em .5em;
  background-color: #D823BE;
  font-size: 14px;
  border-radius: 5px;
  margin-right: .5em;
  font-weight: 500;
}

::ng-deep .mat-tab-label {
  color: #2196F3;
  opacity: 1 !important;
}

::ng-deep mat-ink-bar {
  background-color: #2196F3 !important;
}

.img_uploaded {
  border: 1px solid #9e9e9e96;
  border-style: dashed;
}

.drag_upload_btn {
  position: relative;
  overflow: hidden;
  display: inline-block;
  width: 100%;
  text-align: center;
  align-self: center;
  border: 1px solid #9e9e9e96;
  border-style: dashed;
  cursor: pointer;
  z-index: 4;
}

.drag_upload_btn button {
  width: 100%;
  padding: 5em;
}

.drag_upload_btn button a {
  text-decoration: none;
  font-weight: 500;
  cursor: pointer;
}

.drag_upload_btn button a:hover {
  color: #2196F3;
}

.drag_upload_btn button a:visited {
  color: #2196F3;
}

.drag_upload_btn input[type=file] {
  font-size: 100px;
  position: absolute;
  left: 0;
  top: 0;
  opacity: 0;
  height: 100%;
  cursor: pointer;
}

.no_boder {
  border: none;
}

.image_drag_upload_preview {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}

.list_uploaded {
  height: 200px;
  width: 24%;
  margin: 0 0.5% 5em 0.5%;
  background-color: #44444450;
}

.img_items {
  width: 100%;
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: 120%;
}

.img_control {
  width: 100%;
}

.file_name {
  font-style: medium;
  font-weight: normal;
  margin-left: .5em;
  margin-top: .9em;
  color: #2196F3;
  float: left;
}

.history {
  padding: 1em;
}

.history a {
  color: #2196F3;
  text-decoration: none;
}

.history .history_item {
  border-bottom: 1px solid #E0E0E0;
  padding-bottom: .5em;
}

.history .history_item .history_content {
  display: flex;
}

.history .history_item .history_content p {
  margin-bottom: 0 !important;
}

.d-none {
  display: none !important;
}

.primary-blue-btn {
  background-color: #2196F3;
  color: #fff;
}

.ml-1 {
  margin-left: 1% !important;
}

.mb-1 {
  margin-bottom: 1% !important;
}

.mb-2 {
  margin-bottom: 2% !important;
}

.mb-4 {
  margin-bottom: 4% !important;
}

.f-w-500{
  font-weight: 500;
}

.receiver {
  background-color: #E0E0E0;
  height: 28px;
  padding: 0.8em 1em 0 1em;
  color: rgba($color: #000000, $alpha: 0.8);
  font-size: 14px;
  border-radius: 50px;
  text-align: center;
}
