<!--  Title  -->
<mat-toolbar class="title">
  <mat-toolbar-row>
    <h6 class="name-page"> Chi tiết phản ánh </h6>
  </mat-toolbar-row>
</mat-toolbar>

<div class="container">
  <mat-card>
    <mat-card-title>
      <span [ngClass]="(petitionStatus === 'CREATED' ? 'btn-wait-get-process' : 'btn-wait-process')">
        {{ getStatus(petitionStatus) }}
      </span>
      <span> {{ petitionTitle }} </span>
    </mat-card-title>

    <div class="button-action">
      <!-- Btn chỉnh sửa -->
      <button mat-button class="fs-13" (click)="updatePetition(petitionId, petitionTitle)">
        <mat-icon fontSet="material-icons-outlined"> create </mat-icon>
        <span> Chỉnh sửa </span>
      </button>

      <!-- Btn nhận xử lý -->
      <div *ngIf="petitionStatus === 'CREATED'; then receivedBlock else elseBlock"></div>
      <ng-template #receivedBlock>
        <button mat-button class="ml-1 fs-13" (click)="claimTask()">
          <mat-icon fontSet="material-icons-outlined"> dns </mat-icon>
          <span> Nhận xử lý </span>
        </button>
      </ng-template>
      <ng-template #elseBlock>
        <span *ngIf="petitionStatus === 'ASSIGNED'">
          <button mat-button class="ml-1 fs-13" (click)="completePetition(petitionId, petitionTitle)" >
            <mat-icon fontSet="material-icons-outlined"> done_outline </mat-icon>
            <span> Xác nhận hoàn thành </span>
          </button>
          <button mat-button class="ml-1 fs-13" (click)="releaseTask()">
            <mat-icon fontSet="material-icons-outlined"> reply </mat-icon>
            <span> Bỏ nhận xử lý </span>
          </button>
        </span>
      </ng-template>

      <!-- Btn xem quy trình -->
      <button mat-button class="ml-1 fs-13" (click)="showProcess(petitionId, petitionTitle)">
        <mat-icon> timeline </mat-icon>
        <span> Xem quy trình </span>
      </button>

      <!-- Btn cập nhật kết quả -->
      <button mat-button class="ml-1 fs-13" (click)="updateResult(petitionId, petitionTitle)">
        <mat-icon fontSet="material-icons-outlined"> assignment </mat-icon>
        <span> Cập nhật kết quả </span>
      </button>

      <!-- Btn xóa -->
      <button mat-button class="ml-1 fs-13">
        <mat-icon fontSet="material-icons-outlined"> delete </mat-icon>
        <span> Xóa </span>
      </button>
    </div> <!-- div button-action -->

    <table class="table-content">
      <tr>
        <td class="col-1-content">
          <!-- Thông tin phản ánh -->
          <h4> Thông tin phản ánh </h4>
          <table class="table-info-petition">
            <tr>
              <td class="td-1"> Chuyên mục: </td>
              <td class="td-2" *ngFor='let tag of petitionTag; let i = index'>
                {{ tag.name }} {{ i === petitionTag.length - 1 ? '' : ',' }}
              </td>
            </tr>
            <tr>
              <td class="td-1"> Thời gian xảy ra: </td>
              <td class="td-2"> {{ petitionTakePlaceOn | date : 'dd/MM/yyyy HH:mm:ss' }} </td>
            </tr>
            <tr>
              <td class="td-1"> Ngày phản ánh: </td>
              <td class="td-2"> {{ petitionCreatedDate | date : 'dd/MM/yyyy HH:mm:ss' }} </td>
            </tr>
            <tr>
              <td class="td-1"> Đơn vị bị phản ánh: </td>
              <td class="td-2"*ngFor='let agen of petitionAgency; let i = index'>
                {{ agen.name }} {{ i === petitionAgency.length - 1 ? '' : ',' }}
              </td>
            </tr>
            <tr>
              <td class="td-1"> Nơi tạo phản ánh: </td>
              <td class="td-2">
                {{ petitionCreatePlace }} (
                <button class="btn-map">
                  <mat-icon fontSet="material-icons-outlined" class="icon-map"> place </mat-icon>
                  Xem bản đồ
                </button>)
              </td>
            </tr>
            <tr>
              <td class="td-1"> Địa điểm phản ánh: </td>
              <td>
                {{ petitionTakePlaceAt }} (
                <button class="btn-map">
                  <mat-icon fontSet="material-icons-outlined" class="icon-map"> place </mat-icon>
                  Xem bản đồ
                </button>)
              </td>
            </tr>
          </table> <!-- Thông tin phản ánh -->

          <!-- Nội dung phản ánh -->
          <h4 class="mt-2"> Nội dung </h4>
          <table class="table-content-petition">
            <tr> {{ petitionContent }} </tr>
          </table> <!-- Nội dung phản ánh -->

          <!-- File đính kèm -->
          <h4 class="mt-2"> Đính kèm </h4>
          <div class="frame-upload-file well my-drop-zone card-container" ng2FileDrop [ngClass]="{'nv-file-over': hasBaseDropZoneOver}"
              (fileOver)="fileOverBase($event)" [uploader]="uploader" (onFileDrop)="onFileSelected($event)">
            <table>
              <tr>
                <span class="hidden-file" aria-hidden="true">
                  <input type="file" #fileInput ng2FileSelect [uploader]="uploader"
                  (onFileSelected)="onFileSelected($event)" multiple/>
                </span>
                <p (click)="fileInput.click()">
                  <span class="span-cloud-upload">
                    <mat-icon fontSet="material-icons-outlined" class="icon-cloud"> cloud_upload </mat-icon>
                    <button disabled class="btn-drop-drag"> Kéo thả tập tin hoặc </button>
                    <button class="btn-upload"> Tải lên </button>
                  </span>
                </p>
              </tr>
            </table>

            <!-- Upload file -->
            <div class="card-container">
              <mat-card class="mat-card-file short">
                <img mat-card-image src="../../../assets/img/imgFile.png" alt="">
                <mat-card-subtitle class="name-file"> image.png </mat-card-subtitle>
                <div class="mat-icon-delete">
                  <mat-icon fontSet="material-icons-outlined"> delete </mat-icon>
                </div>
              </mat-card>

              <mat-card class="mat-card-file short">
                <img mat-card-image src="../../../assets/img/imgFile.png" alt="">
                <mat-card-subtitle class="name-file"> file_file_file.docx </mat-card-subtitle>
                <div class="mat-icon-delete">
                  <mat-icon fontSet="material-icons-outlined"> delete </mat-icon>
                </div>
              </mat-card>

              <mat-card class="mat-card-file short">
                <img mat-card-image src="../../../assets/img/imgFile.png" alt="">
                <mat-card-subtitle class="name-file"> ketqua_ketqua.pdf </mat-card-subtitle>
                <div class="mat-icon-delete">
                  <mat-icon fontSet="material-icons-outlined"> delete </mat-icon>
                </div>
              </mat-card>

              <div class="col-sm9 div-file-selected" *ngFor="let item of uploader.queue">
                <mat-card class="mat-card-file short">
                  <img mat-card-image src="../../../assets/img/imgFile.png" alt="">
                  <mat-card-subtitle class="name-file"> {{ item?.file?.name }} </mat-card-subtitle>
                  <div class="mat-icon-delete" (click)="item.remove()">
                    <mat-icon fontSet="material-icons-outlined"> delete </mat-icon>
                  </div>
                </mat-card>
              </div> <!-- show file upload -->
            </div> <!-- Upload file -->
          </div> <!-- File đính kèm -->

          <!-- Lịch sử - hoạt động -->
          <h4 class="mt-2"> Hoạt động </h4>
          <mat-tab-group>
            <!-- Bình luận -->
            <mat-tab label="Bình luận">
              <mat-tree [dataSource]="commentDataSource" [treeControl]="treeControl" class="tree">
                <mat-tree-node *matTreeNodeDef="let node" matTreeNodeToggle> {{ node.name }} </mat-tree-node>
                <mat-nested-tree-node *matTreeNodeDef="let node; when: hasChild">
                  <div class="mat-tree-node">
                    <button mat-icon-button matTreeNodeToggle [attr.aria-label]="'toggle ' + node.name" style="border: none">
                      <mat-icon class="mat-icon-rtl-mirror">
                        {{ treeControl.isExpanded(node) ? 'expand_more' : 'chevron_right' }}
                      </mat-icon>
                    </button>
                    <span class="name-user"> {{ node.name }} </span>
                    <span class="action"> &nbsp;đã bình luận - {{ node.time }} </span>
                  </div>
                  <ul [class.tree-invisible]="treeControl.isExpanded(node)">
                    <ng-container matTreeNodeOutlet></ng-container>
                  </ul>
                  <mat-divider></mat-divider>
                </mat-nested-tree-node>
              </mat-tree>

              <button mat-button class="mt-10">
                <mat-icon fontSet="material-icons-outlined"> insert_comment </mat-icon>
                Bình luận
              </button>
            </mat-tab> <!-- Bình luận -->

            <!-- Lịch sử -->
            <mat-tab label="Lịch sử">
              <mat-card class="card-history">
                <div *ngFor='let his of history; let i = index;' class="history_item mt-1">
                  <mat-card-subtitle>
                    <span>
                      <span class="name-user"> {{ his.user.name }} </span>
                      <span *ngIf="his.type === 1"> đã bình luận </span>
                      <span *ngIf="his.type === 2"> đã chuyển bước </span>
                      <span *ngIf="his.type === 3"> đã thay đổi </span>
                      <span *ngIf="his.type === 4"> đã thêm mới </span>
                      <span *ngIf="his.type === 5"> đã xoá </span>
                      - {{ his.affectedDate | date : 'dd/MM/yyyy HH:mm:ss' }}
                    </span>
                    <table class="mt-05" *ngIf='his.type === 1 || his.type === 4'>
                      <tr class="fw-500">
                        <td class="width-19 action" i18n> Trường </td>
                        <td class="width-39 action" i18n> Giá trị cũ </td>
                        <td class="width-39 action" i18n> Giá trị mới </td>
                      </tr>
                      <tr *ngFor="let his_item of his.action">
                        <td class="width-19 action"> {{ his_item.fieldName }} </td>
                        <td class="width-39 action"> {{ his_item.originalValue }}</td>
                        <td class="width-39 action"> {{ his_item.newValue }} </td>
                      </tr>
                    </table>
                    <mat-divider></mat-divider>
                  </mat-card-subtitle>
                </div>
              </mat-card>
            </mat-tab> <!-- Lịch sử -->
          </mat-tab-group> <!-- Lịch sử - hoạt động -->
        </td> <!-- col-1-content -->

        <td class="col-2-content"> </td> <!-- col-2-content -->

        <td class="col-3-content">
          <h4> Thông tin người phản ánh </h4>
          <table class="table-info-process">
            <tr>
              <td class="td-1 width-40"> Người gửi: </td>
              <td class="td-2 width-60"> {{ reporterName }} </td>
            </tr>
            <tr>
              <td class="td-1 width-40"> Số điện thoại: </td>
              <td class="td-2 width-60"> {{ reporterPhone }} </td>
            </tr>
            <tr>
              <td class="td-1 width-40"> CMND: </td>
              <td class="td-2 width-60"> {{ reporteridentityId }} </td>
            </tr>
            <tr>
              <td class="td-1 width-40"> Đối tượng: </td>
              <td class="td-2 width-60"> {{ getReportType(reporterType) }} </td>
            </tr>
            <tr>
              <td class="td-1 width-40"> Địa chỉ: </td>
              <td class="td-2 width-60">
                {{ reporterAddress }}
                <span *ngFor='let pl of reporterPlace; let i = index'>
                  {{ pl.name }} {{ i === reporterPlace.length - 1 ? '' : ',' }}
                </span>
                (<button class="btn-map">
                  <mat-icon fontSet="material-icons-outlined" class="icon-map"> place </mat-icon>
                  Xem bản đồ
                </button>)
              </td>
            </tr>
          </table> <!-- Table thông tin người phản ánh -->

          <!-- Thông tin xử lý -->
          <h4> Thông tin xử lý </h4>
          <table class="table-info-process">
            <tr>
              <td class="td-1 width-40"> Người xử lý: </td>
              <td class="td-2 width-60">  </td>
            </tr>
            <tr>
              <td class="td-1 width-40"> Người theo dõi: </td>
              <td class="td-2 width-60">  </td>
            </tr>
            <tr>
              <td class="td-1 width-40"> Người duyệt: </td>
              <td class="td-2 width-60">  </td>
            </tr>
            <tr>
              <td class="td-1 width-40"> Ngày duyệt: </td>
              <td class="td-2 width-60">  </td>
            </tr>
            <tr>
              <td class="td-1 width-40"> Công việc: </td>
              <td class="td-2 width-60">
                <span class="btn-receive"> {{ taskName }} </span>
              </td>
            </tr>
            <tr>
              <td class="td-1 width-40"> Công khai: </td>
              <td class="td-2 width-60">
                <span [ngClass]="processPublic === false ? 'btn-none-public' : 'btn-public'"> {{ getPublic(processPublic) }} </span>
              </td>
            </tr>
          </table> <!-- Table thông tin xử lý -->

          <!-- Kết quả xử lý -->
          <h4 [ngClass]="resultPetition === undefined ? 'd-none' : 'mt-2'"> Kết quả xử lý </h4>
          <table [ngClass]="resultPetition === undefined ? 'd-none' : 'table-result'">
            <tr>
              <td class="td-1 width-40"> Ngày có kết quả: </td>
              <td class="td-2 width-60"> {{ resultDatePublic | date : 'dd/MM/yyyy HH:mm:ss' }} </td>
            </tr>
            <tr>
              <td class="td-1 width-40"> Công khai: </td>
              <td class="td-2 width-60">
                <span [ngClass]="resultIsPublic === false ? 'btn-none-public' : 'btn-public'"> {{ getPublic(resultIsPublic) }} </span>
              </td>
            </tr>
          </table>

          <table [ngClass]="resultPetition === undefined ? 'd-none' : 'table-content-result'">
            <tr class="td-1"> Nội dung: </tr>
            <tr class="td-2">
              <span [class.overflow]="isExpand" [ngClass]="(isExpand === true ? 'overflow' : 'show-content')">
                {{ resultContent }}
              </span>
              <a [ngClass]="(isExpand === true ? 'see-more' : 'hidden-see-more')" (click)="isExpandToggle()"> Xem thêm </a>
            </tr>
          </table> <!-- Kết quả xử lý -->

          <!-- File đính kèm kết quả xử lý -->
          <div [ngClass]="resultPetition === undefined ? 'd-none' : 'frame-upload-file'">
            <div class="card-container">
              <mat-card class="mat-card-file short">
                <img mat-card-image src="../../../assets/img/imgFile.png" alt="">
                <mat-card-subtitle class="name-file"> image.png </mat-card-subtitle>
              </mat-card>

              <mat-card class="mat-card-file short">
                <img mat-card-image src="../../../assets/img/imgFile.png" alt="">
                <mat-card-subtitle class="name-file"> file_file_file.docx </mat-card-subtitle>
              </mat-card>

              <mat-card class="mat-card-file short">
                <img mat-card-image src="../../../assets/img/imgFile.png" alt="">
                <mat-card-subtitle class="name-file"> ketqua_ketqua.pdf </mat-card-subtitle>
              </mat-card>
            </div>
          </div> <!-- File đính kèm kết quả xử lý -->
        </td> <!-- col-3-content -->
      </tr>
    </table> <!-- table content -->
  </mat-card>
</div> <!-- div container -->
