.fw-500 {
  font-weight: 500;
}

.btn-cancel {
  border: 1px solid #333333;
}

.btn-save {
  color: #ffffff;
  background-color: #1976D2;
}

.ml-1 {
  margin-left: -1.5em;
}

.mt-1 {
  margin-top: -1em;
}

::ng-deep .mat-horizontal-stepper-header-container {
  display: none !important;
}

.display-none {
  display: none;
}
