<div mat-dialog-title class="fw-500">
  {{ title }}
</div>

<div [ngClass]="(configPetition.agency !== '' ? 'display-none': '')">
  <div mat-dialog-content class="mt-1">
    <p>
      Cần chọn khách hàng trước khi áp dụng quy trình
    </p>
  </div>
  <mat-dialog-actions align="center">
    <button mat-button class="btn-cancel" (click)="onDismiss()"> Hủy bỏ </button>
    <button mat-button class="btn-save" (click)="openDialogUpdateProcess()"> Cập nhật </button>
  </mat-dialog-actions>
</div>

<div [ngClass]="(configPetition.agency === '' ? 'display-none': '')">
  <div mat-dialog-content class="mt-1">
    <p>
      Áp dụng
      <b> {{ message }} </b>
      làm quy trình xử lý
    </p>
  </div>
  <mat-dialog-actions align="center">
    <button mat-button class="btn-cancel" (click)="onDismiss()"> Đóng </button>
    <button mat-button class="btn-save"> Đồng ý </button>
  </mat-dialog-actions>
</div>
