<!--  Title  -->
<mat-toolbar class="title">
  <mat-toolbar-row>
    <h6 class="name-page"> Danh sách quy trình </h6>
    <button mat-button class="btn-add" (click)="openDialogAddProcess()">
      <mat-icon> add </mat-icon>
      Thêm mới
    </button>
  </mat-toolbar-row>
</mat-toolbar>
<!-- filter -->
<mat-accordion>
  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title> Tìm kiếm </mat-panel-title>
    </mat-expansion-panel-header>
    <!-- Tên quy trình -->
    <mat-form-field appearance="outline" class="half-form-field">
      <mat-label> Tên quy trình </mat-label>
      <label>
        <input matInput>
      </label>
    </mat-form-field>

    <!-- Đơn vị áp dụng -->
    <mat-form-field appearance="outline" class="half-form-field ml-1">
      <mat-label> Đơn vị áp dụng </mat-label>
      <mat-select multiple [formControl]="agency">
        <mat-option *ngFor="let agen of agencyList" [value]="agen"> {{ agen }} </mat-option>
      </mat-select>
    </mat-form-field>

    <!-- Chuyên mục -->
    <mat-form-field appearance="outline" class="quarter-form-field">
      <mat-label> Chuyên mục </mat-label>
      <mat-select multiple [formControl]="topics">
        <mat-option *ngFor="let topic of topicList" [value]="topic"> {{ topic }} </mat-option>
      </mat-select>
    </mat-form-field>

    <!-- Trạng thái -->
    <mat-form-field appearance="outline" class="quarter-form-field ml-1">
      <mat-label> Trạng thái </mat-label>
      <mat-select>
        <mat-option value="1"> Chưa xử lý </mat-option>
        <mat-option value="2"> Đã tiếp nhận </mat-option>
        <mat-option value="3"> Đã xử lý </mat-option>
      </mat-select>
    </mat-form-field>

    <!-- Từ ngày -->
    <mat-form-field appearance="outline" class="quarter-form-field ml-1">
      <mat-label> Từ ngày </mat-label>
      <label>
        <input matInput [matDatepicker]="toDate">
      </label>
      <mat-datepicker-toggle matSuffix [for]="toDate"></mat-datepicker-toggle>
      <mat-datepicker #toDate></mat-datepicker>
    </mat-form-field>

    <!-- Đến ngày -->
    <mat-form-field appearance="outline" class="quarter-form-field ml-1">
      <mat-label> Đến ngày </mat-label>
      <label>
        <input matInput [matDatepicker]="fromDate">
      </label>
      <mat-datepicker-toggle matSuffix [for]="fromDate"></mat-datepicker-toggle>
      <mat-datepicker #fromDate></mat-datepicker>
    </mat-form-field>

    <button mat-button class="btn-search"> Tìm kiếm </button>
    <button mat-button class="btn-clr"> Làm mới </button>
  </mat-expansion-panel>
</mat-accordion> <!-- filter -->

<!-- Table-data -->
<div class="padding-table">
  <div class="mat-elevation-z8">
    <table mat-table [dataSource]="dataSource" matSort matSortActive="status" matSortDirection="asc" matSortDisableClear>
      <!-- STT -->
      <ng-container matColumnDef="STT">
        <th mat-header-cell *matHeaderCellDef> STT </th>
        <td mat-cell *matCellDef="let element"> {{ element.STT }} </td>
      </ng-container>

      <!-- Tiêu đề -->
      <ng-container matColumnDef="title">
        <th mat-header-cell *matHeaderCellDef> Tiêu đề </th>
        <td mat-cell *matCellDef="let element">
          <a href="/config-petition/detail/{{element.id}}"> {{ element.title }} </a>
        </td>
      </ng-container>

      <!-- Chuyên mục -->
      <ng-container matColumnDef="topic">
        <th mat-header-cell *matHeaderCellDef> Chuyên mục </th>
        <td mat-cell *matCellDef="let element"> {{ element.topic }} </td>
      </ng-container>

      <!-- Ngày tạo -->
      <ng-container matColumnDef="date">
        <th mat-header-cell *matHeaderCellDef> Ngày tạo </th>
        <td mat-cell *matCellDef="let element"> {{ element.date }} </td>
      </ng-container>

      <!-- Trạng thái -->
      <ng-container matColumnDef="status">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Trạng thái </th>
        <td mat-cell *matCellDef="let element">
          <button [ngClass]="(element.status === 'Đã áp dụng' ? 'btn-applied' :
                  (element.status === 'Chưa áp dụng' ? 'btn-none-apply' : 'btn-cancel-apply'))">
            {{ element.status }}
          </button>
        </td>
      </ng-container>

      <!-- Đơn vị áp dụng -->
      <ng-container matColumnDef="agency">
        <th mat-header-cell *matHeaderCellDef> Đơn vị áp dụng </th>
        <td mat-cell *matCellDef="let element"> {{ element.agency }} </td>
      </ng-container>

      <!-- Thao tác -->
      <ng-container matColumnDef="action">
        <th mat-header-cell *matHeaderCellDef> Thao tác </th>
        <td mat-cell *matCellDef="let element">
          <button mat-button class="mat-icon-more-horiz" [matMenuTriggerFor]="menu">
            <mat-icon> more_horiz </mat-icon>
          </button>

          <mat-menu #menu="matMenu" xPosition="before">
            <button mat-menu-item class="btn-action" (click)="openDialogShowProcess()">
              <mat-icon class="mat-icon-action" fontSet="material-icons-outlined"> description </mat-icon>
              Xem quy trình
            </button>

            <button mat-menu-item class="btn-action" (click)="openDialogUpdateProcess()">
              <mat-icon class="mat-icon-action" fontSet="material-icons-outlined"> edit </mat-icon>
              Cập nhật
            </button>

            <div *ngIf="element.status === 'Đã áp dụng'; then receivedBlock else elseBlock"></div>
            <ng-template #receivedBlock>
              <button mat-menu-item class="btn-action" (click)="unApplyProcess(element.id, element.title)">
                <mat-icon fontSet="material-icons-outlined"> highlight_off </mat-icon>
                Hủy áp dụng
              </button>
            </ng-template>
            <ng-template #elseBlock>
              <button mat-menu-item class="btn-action" (click)="applyProcess(element.id, element.title)">
                <mat-icon fontSet="material-icons-outlined"> done_outline </mat-icon>
                Áp dụng
              </button>
            </ng-template>

            <button mat-menu-item class="btn-action" (click)="deleteProcess(element.id, element.title)">
              <mat-icon class="mat-icon-action" fontSet="material-icons-outlined"> delete </mat-icon>
              Xóa
            </button>
          </mat-menu>
        </td>
      </ng-container>
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table> <!-- table data -->
    <mat-paginator [pageSizeOptions]="pageSizes" [pageSize]="10" showFirstLastButtons></mat-paginator>
  </div> <!-- div mat-elavation-z8 -->
</div> <!-- div padding-table -->
