<!--  Title  -->
<mat-toolbar class="title">
  <mat-toolbar-row>
    <h6 class="name-page"> Danh sách quy trình </h6>
    <button mat-button class="btn-add" (click)="addProcess()">
      <mat-icon> add </mat-icon>
      <span i18n> Thêm mới </span>
    </button>
  </mat-toolbar-row>
</mat-toolbar>
<!-- filter -->
<mat-accordion>
  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title i18n> Tìm kiếm </mat-panel-title>
    </mat-expansion-panel-header>
    <!-- Tên quy trình -->
    <form [formGroup]="searchForm" (submit)="search(0, 10)">
      <mat-form-field appearance="outline" class="full-form-field">
        <mat-label i18n> Tên quy trình </mat-label>
        <input matInput placeholder="Nhập tên quy trình tìm kiếm" formControlName="name">
      </mat-form-field>

      <!-- Chuyên mục -->
      <mat-form-field appearance="outline" class="quarter-form-field">
        <mat-label i18n> Chuyên mục </mat-label>
        <mat-select formControlName="tag" multiple>
          <mat-option *ngFor='let tag of listTags;' value="{{tag.id}}"> {{ tag.name }}</mat-option>
        </mat-select>
      </mat-form-field>

      <!-- Trạng thái -->
      <mat-form-field appearance="outline" class="quarter-form-field ml-1">
        <mat-label i18n> Trạng thái </mat-label>
        <mat-select formControlName="status">
          <mat-option value="0"> Chưa áp dụng </mat-option>
          <mat-option value="1"> Đã áp dụng </mat-option>
          <mat-option value="2"> Đã hủy áp dụng </mat-option>
        </mat-select>
      </mat-form-field>

      <!-- Từ ngày -->
      <mat-form-field appearance="outline" class="quarter-form-field ml-1">
        <mat-label i18n> Từ ngày </mat-label>
        <input matInput [matDatepicker]="startDate" placeholder="Chọn ngày bắt đầu" formControlName="startDate">
        <mat-datepicker-toggle matSuffix [for]="startDate"></mat-datepicker-toggle>
        <mat-datepicker #startDate></mat-datepicker>
      </mat-form-field>

      <!-- Đến ngày -->
      <mat-form-field appearance="outline" class="quarter-form-field ml-1">
        <mat-label i18n> Đến ngày </mat-label>
        <input matInput [matDatepicker]="endDate" placeholder="Chọn ngày kết thúc" formControlName="endDate">
        <mat-datepicker-toggle matSuffix [for]="endDate"></mat-datepicker-toggle>
        <mat-datepicker #endDate></mat-datepicker>
      </mat-form-field>

      <button mat-button class="btn-search" type="submit" i18n> Tìm kiếm </button>
      <button mat-button class="btn-clr" (click)="searchForm.reset()" i18n> Làm mới </button>
    </form>
  </mat-expansion-panel>
</mat-accordion> <!-- filter -->

<!-- Table-data -->
<div class="padding-table">
  <div class="mat-elevation-z8">
    <!-- matSortDirection="asc"  -->
    <table mat-table [dataSource]="dataSource" matSort matSortActive="status" matSortDisableClear>
      <!-- STT -->
      <ng-container matColumnDef="STT">
        <th mat-header-cell *matHeaderCellDef i18n> STT </th>
        <td mat-cell *matCellDef="let element"> {{ element.num }} </td>
      </ng-container>

      <!-- Tiêu đề -->
      <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef i18n> Tiêu đề </th>
        <td mat-cell *matCellDef="let element">
          <a routerLink="/cau-hinh-phan-anh/chi-tiet/{{element.id}}"> {{ element.name }} </a>
        </td>
      </ng-container>

      <!-- Chuyên mục -->
      <ng-container matColumnDef="topic">
        <th mat-header-cell *matHeaderCellDef i18n> Chuyên mục </th>
        <td mat-cell *matCellDef="let element">
          <span *ngFor="let tag of element.tag, let i = index;">
            {{ tag.name }} {{ i === element.tag.length - 1 ? '' : ',' }}
          </span>
        </td>
      </ng-container>

      <!-- Ngày tạo -->
      <ng-container matColumnDef="date">
        <th mat-header-cell *matHeaderCellDef i18n> Ngày tạo </th>
        <td mat-cell *matCellDef="let element"> {{ element.createdDate | date : 'dd/MM/yyyy' }} </td>
      </ng-container>

      <!-- Trạng thái -->
      <ng-container matColumnDef="status">
        <th mat-header-cell *matHeaderCellDef mat-sort-header i18n> Trạng thái </th>
        <td mat-cell *matCellDef="let element">
          <span [ngClass]="(element.status === 1 ? 'btn-applied' :
                  (element.status === 0 ? 'btn-none-apply' : 'btn-cancel-apply'))">
            {{ getStatus(element.status) }}
          </span>
        </td>
      </ng-container>

      <!-- Thao tác -->
      <ng-container matColumnDef="action">
        <th mat-header-cell *matHeaderCellDef i18n> Thao tác </th>
        <td mat-cell *matCellDef="let element">
          <button mat-button class="mat-icon-more-horiz" [matMenuTriggerFor]="menu">
            <mat-icon> more_horiz </mat-icon>
          </button>

          <mat-menu #menu="matMenu" xPosition="before">
            <button mat-menu-item class="btn-action" (click)="showProcess(element.id, element.name)">
              <mat-icon class="mat-icon-action" fontSet="material-icons-outlined"> description </mat-icon>
              <span i18n> Xem quy trình </span>
            </button>

            <button mat-menu-item class="btn-action" (click)="updateProcess(element.id, element.name)">
              <mat-icon class="mat-icon-action" fontSet="material-icons-outlined"> edit </mat-icon>
              <span i18n> Cập nhật </span>
            </button>

            <div *ngIf="element.status === 1; then receivedBlock else elseBlock"></div>
            <ng-template #receivedBlock>
              <button mat-menu-item class="btn-action" (click)="unApplyProcess(element.id, element.name)">
                <mat-icon fontSet="material-icons-outlined"> highlight_off </mat-icon>
                <span i18n> Hủy áp dụng </span>
              </button>
            </ng-template>
            <ng-template #elseBlock>
              <button mat-menu-item class="btn-action" (click)="applyProcess(element.id, element.name)">
                <mat-icon fontSet="material-icons-outlined"> done_outline </mat-icon>
                <span i18n> Áp dụng </span>
              </button>
            </ng-template>

            <button mat-menu-item class="btn-action" (click)="deleteProcess(element.id, element.name)">
              <mat-icon class="mat-icon-action" fontSet="material-icons-outlined"> delete </mat-icon>
              <span i18n> Xóa </span>
            </button>
          </mat-menu>
        </td>
      </ng-container>
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table> <!-- table data -->
    <mat-paginator [pageSizeOptions]="pageSizes" [pageSize]="10" showFirstLastButtons></mat-paginator>
  </div> <!-- div mat-elavation-z8 -->
</div> <!-- div padding-table -->
