<h3 class="dialog_title" mat-dialog-title>Hủy phản ánh</h3>
<form>
  <p>
    Phản ánh <strong>{{ petitionTitle }}</strong> sẽ được hủy và không tiếp nhận
    xử lý
  </p>
  <div class="mb-1">
    <mat-checkbox
      color="primary"
      *ngFor="let option of optionList; let i = index"
      [ngClass]="i !== 0 ? 'ml-2' : ''"
    >
      {{ option }}
    </mat-checkbox>
  </div>

  <!-- Nội dung -->
  <mat-form-field appearance="outline" class="input-full-width">
    <mat-label> Nội dung </mat-label>
    <label>
      <textarea matInput cdkTextareaAutosize></textarea>
    </label>
  </mat-form-field>
</form>

<mat-dialog-actions align="center">
  <button mat-button class="btn-cancel" (click)="onDismiss()">Đóng</button>
  <button mat-button class="btn-save" type="submit">
    Đồng ý
  </button>
</mat-dialog-actions>
