<h3 class="dialog_title" mat-dialog-title>Tìm kiếm địa điểm {{ lat}}</h3>


<input type="text" [(ngModel)]="value" #pacinput id="search" />

<mat-dialog-content class="mat-typography">
  <google-map height="500px" width="100%" [zoom]="zoom" [center]="center" (mapClick)="click($event)">
    <map-marker #markerElem *ngFor="let marker of markers" [position]="marker.position" [label]="marker.label"
      [title]="marker.title" [options]="marker.options" (mapClick)="openInfo(markerElem, marker.info)">
    </map-marker>
    <map-info-window>{{ infoContent }}</map-info-window>
  </google-map>

</mat-dialog-content>
<mat-dialog-actions align="center">
  <button mat-button class="btn-cancel" (click)="onDismiss()">Đóng</button>
  <!-- <button mat-button class="btn-save" (click)="search()" [mat-dialog-close]="true">
    Đồng ý
  </button> -->
</mat-dialog-actions>